<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="amazonScenarioTest">
    <classes>
      <class name="automationRun.baseClass"/>
      <class name="automationRun.amazonTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
